[{test_app, [
    {sup,      [{schedule, [{{mon,fri}, [{"6:00", "23:50"}]}]},
                {restart, {3, 10, 2}}]},
    {cmd,      "sleep 5"},
    {cmd_opts, []},
    {cmd_sup,  [{schedule, [{{mon,fri}, [{"6:00", "23:50", "00:00:10"}]}]}]},
    {exec,"sleep 5"},
    {dbg, []},
    {srv, []}]
 }].
